body{
	margin-top:70px;
	background-color: #2F5168;
}


a{
	color: #E04836;	
}


a:hover {
    color: #FFFFFF;
} 


h2{
	color: #F39D41;
	font-size:xx-large;
}


h4{
	color: #E04836;	
}


h5{
	color: #5696BC;
	text-decoration: underline;
	font-size:medium
}


.jumbotron{

	text-align: center;
}


li{
	list-style: none;
}


p{
	
	color:silver;
	font-size:16px;	
}
